/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

@use "variables";
@use "placeholders";


body.about{
    margin: 0 auto;
    
    header{
        margin: 0 auto;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        max-width: 1400px;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 15px;
        details{
            display: none;
        }
        div.h_logo{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-size: 22px;
            font-weight: 800;
            gap: 5px;
            cursor: pointer;
            div.logo{
                height:40px;
                width: 40px;
                background-color: variables.$primary-color;
                @extend %flex-center;
                border-radius: 12px;
                color: white;
                font-size: 16.8px;
                font-weight: 700;
            }
        }
        nav{
            ul{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 32px;
                a{
                    font-family: variables.$inter-font;
                    font-size: 15px;
                    color: #475569;
                    &:hover{
                        color: variables.$primary-color;
                        font-size: 16px;
                    }

                }
            }
        }
        button{
            width: 146px;
            height: 49px;
            background-color: variables.$primary-color;
            color: white;
            border-radius: 10px;
            font-family: variables.$inter-font;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
            -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
            -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
            &:hover{
                color: rgb(13, 13, 119);
            }

        }
    }
    main{
        background-color: #F8FAFC;
        section.sec_1{
            div.text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 20px;
            padding: 100px;
            h5{
                font-size: 15px;
                font-weight: 700;
                color: variables.$primary-color;
            }
            h1{
                font-size: 38px;
                font-weight: 800;
                color: black;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #475569;
            }
          }
        }
        section.sec_2{
            background-color: white;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 80px;
            div.left{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                width: 50%;
                gap: 30px;
                h5{
                    font-size: 14px;
                    font-weight: 700;
                    color: variables.$primary-color;
                }
                h2{
                    font-size: 34px;
                    font-weight: 800;
                    color:#0F172A ;                    
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    color:#475569 ;
                    line-height: 28px;
                }
            }
            div.right{
                height: 400px;
                width: 540px;
                border-radius: 24px;
                background-color: variables.$primary-color;
                box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);

            }
        }
        section.sec_3{
            padding: 50px;
            div.text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 20px;
            padding: 100px;
            h5{
                font-size: 14px;
                font-weight: 700;
                color: variables.$primary-color;
            }
            h3{
                font-size: 38px;
                font-weight: 800;
                color: black;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #475569;
            }
        }
        div.cards{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            div.card{
                background-color: white;
                height: 180px;
                width: 250px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                border-radius: 18px;
                padding: 20px;
                gap: 30px;
                cursor: pointer;
                &:hover{
                    height: 181px;
                    width: 251px;
                    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                }
                div.logo{
                    background-color: #EEF2FF;
                    width:52px ;
                    height: 52px;
                    border-radius: 12px;
                    color: variables.$primary-color;
                    font-size: 21.8px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }
                h4{
                    font-size: 22px;
                    font-weight: 700;
                    color: #0F172A;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #475569;
                }
                a{
                    font-size: 15px;
                    font-weight: 600;
                    color: variables.$primary-color;
                }
            }
        }       
        }
        section.sec_4{
            padding: 50px;
            background-color: white;
            div.text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 20px;
            padding: 100px;
            h5{
                font-size: 14px;
                font-weight: 700;
                color: variables.$primary-color;
            }
            h3{
                font-size: 38px;
                font-weight: 800;
                color: black;
            }
        }
        div.cards{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            div.card{
                background-color: #F8FAFC;
                height: 310px;
                width: 370px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                border-radius: 18px;
                padding: 20px;
                gap: 20px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    height: 311px;
                    width: 371px;
                    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                }
                div.logo{
                    background-color: variables.$primary-color;
                    width:120px ;
                    height: 120px;
                    border-radius: 50%;
                    color: white;
                    font-size: 40px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }
                h4{
                    font-size: 22px;
                    font-weight: 700;
                    color: #0F172A;
                }
                h6{
                    font-size: 14px;
                    font-weight: 600;
                    color: variables.$primary-color;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #475569;
                }
                .icons{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 10px;
                    div{
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        background-color: #EEF2FF;
                        color: variables.$primary-color;
                        font-size: 13px;
                        font-weight: 700;
                        @extend %flex-center
                    }
                }
            }
        }  
        }
    }
    footer{
        background-color: #0B1120;
        section.sec_1{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            div.left{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                gap: 20px;
                padding: 80px 20px;
                h3{
                    font-size: 42px;
                    font-weight: 800;
                    color: white;
                }
                p{
                    font-size: 17px;
                    font-weight: 400;
                    color: #CBD5E1;
                    line-height: 30px;
                }
            }
            div.right{             
                display: -webkit-box;             
                display: -ms-flexbox;             
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 20px;
                div{
                    height: 106px;
                    width: 196px;
                    background-color: #1E293B;
                    border-radius: 24px;
                    @extend %flex-center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    h3{
                       font-size: 30px;
                       font-weight: 800;
                       color: white;
                    }
                    p{
                       font-size: 13px;
                       font-weight: 400;
                       color: #94A3B8;
                    } 
                }
               
            }
        }
        section.sec_2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: #0B1120;
            div.footer_1{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                padding: 20px;
                gap: 20px;
                .f_logo{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 22px;
                    font-weight: 800;
                    gap: 5px;
                    cursor: pointer;
                    div.logo{
                        height:40px;
                        width: 40px;
                        background-color: variables.$primary-color;
                        @extend %flex-center;
                        border-radius: 12px;
                        color: white;
                        font-size: 16.8px;
                        font-weight: 700;
                        }
                    .text{
                        font-size: 22px;
                        font-weight: 800;
                        color: white;
                    }
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    color: #94A3B8;
                }
                div.icons{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    div.icon{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background-color:#1E293B ;
                        color: white;
                        font-size: 15px;
                        font-weight: 700;
                        @extend %flex-center;
                        cursor: pointer;                 
                    }
                }

            }
            div.contact{
                h4{
                    font-size: 15px;
                    font-weight: 700;
                    color: white;
                    margin-bottom: 10px;
                }
                ul{ 
                    display: -webkit-box; 
                    display: -ms-flexbox; 
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    gap: 10px;
                    
                    li{
                        
                            font-size: 14px;
                            font-weight: 400;
                            color: #94A3B8;
                            a{
                            &:hover{
                                color: variables.$primary-color;
                            }
                        }
                    }
                }
            }
        }
        div{
            hr{
            width: 90%;
            background-color: #1E293B;

            }
            p.footer_p{
               font-size: 13px;
               font-weight: 400;
               color: #64748B;
               padding: 30px 80px;
            }
        }
    }
}