@use "variables";
@use "placeholders";


body{
    margin: 0 auto;
    
    header{
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 1400px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        div.h_logo{
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 800;
            gap: 5px;
            div.logo{
                height:40px;
                width: 40px;
                background-color: variables.$primary-color;
                @extend %flex-center;
                border-radius: 12px;
                color: white;
                font-size: 16.8px;
                font-weight: 700;
            }
        }
        nav{
            ul{
                display: flex;
                gap: 32px;
                a{
                    font-family: variables.$inter-font;
                    font-size: 15px;
                    color: #475569;

                }
            }
        }
        button{
            width: 146px;
            height: 49px;
            background-color: variables.$primary-color;
            color: white;
            border-radius: 10px;
            font-family: variables.$inter-font;
            font-size: 16px;

        }
    }
    main{
        background-color: #F8FAFC;
        
        .sec_1{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        div.left{
            display: flex;
            flex-direction: column;
            gap: 25px;
            div.small_text{
                height: 34px;
                width: 275px;
                background-color: #EEF2FF;   
                border-radius: 100px;   
                display: flex;
                align-items: center;
                justify-content: space-between;  
                padding: 0px 10px;
                p{
                    color: variables.$primary-color;
                    font-size: 14px;
                    font-weight: 700;
                };
                div.logo{
                    height: 18px;
                    width: 18px;
                    background-color: variables.$primary-color;
                    border-radius: 50%;
                    font-size: 7.56px;
                    color: white;
                    @extend %flex-center;
                
                }    
            }
            h1{
                font-size: 54px;
                font-family: variables.$inter-font;
                font-weight: 800;
            }
            p{
                font-family: variables.$inter-font;
                color: #475569;
                font-size: 18px;
                font-weight: 400;
            }
            div.btns{
                display: flex;
                align-items: center;
                gap: 10px;
                .start{
                    height: 49px;
                    width: 167px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    background-color: variables.$primary-color;
                }
                .view{
                    height: 49px;
                    width: 167px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    background-color: white;
                    color: black;
                }
            }
        }
        div.right{
            height: 316px;
            width: 560px;
            background-color: variables.$primary-color;
            border-radius: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div.top{
                height: 160px;
                width: 340px;
                background-color: white;
                border-radius: 16px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 20px;
                p.gray{
                    font-size: 12px;
                    color: #94A3B8;
                    font-weight: 400;
                }
                h3{
                    font-size: 30px;
                    font-weight: 800;
                }
                p.green{
                    font-size: 13px;
                    font-weight: 600;
                    color: #16A34A;
                }
            }
            div.bottom{
                height: 84px;
                width: 340px;
                background-color: white;
                border-radius: 16px;
                padding-left: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                div.logo{
                    height: 44px;
                    width: 44px;
                    border-radius: 12px;
                    background-color: #EEF2FF;
                    color: variables.$primary-color;
                    @extend %flex-center
                }
            }
            div{
                
                h5{
                    font-size: 15px;
                    font-weight: 600;
                    padding: 10px 0px;
                }
                p{
                    font-size: 12px;
                    color: #94A3B8;
                    font-weight: 400;
                }
            }

        }
    }
}