@use "variables";
@use "placeholders";

body.services{
    margin: 0 auto;
    
    header{
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 1400px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        details{
            display: none;
        }
        div.h_logo{
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 800;
            gap: 5px;
            cursor: pointer;
            div.logo{
                height:40px;
                width: 40px;
                background-color: variables.$primary-color;
                @extend %flex-center;
                border-radius: 12px;
                color: white;
                font-size: 16.8px;
                font-weight: 700;
            }
        }
        nav{
            ul{
                display: flex;
                gap: 32px;
                a{
                    font-family: variables.$inter-font;
                    font-size: 15px;
                    color: #475569;
                    &:hover{
                        color: variables.$primary-color;
                        font-size: 16px;
                    }

                }
            }
        }
        button{
            width: 146px;
            height: 49px;
            background-color: variables.$primary-color;
            color: white;
            border-radius: 10px;
            font-family: variables.$inter-font;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
            -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
            -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
            &:hover{
                color: rgb(13, 13, 119);
            }

        }
    }
    main{
        background-color: #F8FAFC;
        section.sec_1{
            div.text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 100px;
            h5{
                font-size: 15px;
                font-weight: 700;
                color: variables.$primary-color;
            }
            h1{
                font-size: 38px;
                font-weight: 800;
                color: black;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #475569;
              }
            }  
        }
        section.sec_2{
            padding: 60px;
            background-color: white;
            div.cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
            div.card{
                background-color: #F8FAFC;
                height: 210px;
                width: 350px;
                display: flex;
                flex-direction: column;
                border-radius: 18px;
                padding: 20px;
                gap: 30px;
                cursor: pointer;
                &:hover{
                    height: 211px;
                    width: 351px;
                    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                }
                
                div.logo{
                    background-color: #EEF2FF;
                    width:52px ;
                    height: 52px;
                    border-radius: 12px;
                    color: variables.$primary-color;
                    font-size: 21.8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h4{
                    font-size: 22px;
                    font-weight: 700;
                    color: #0F172A;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #475569;
                }
                a{
                    font-size: 15px;
                    font-weight: 600;
                    color: variables.$primary-color;
                }
            }
        }  
        
            }
            section.sec_3{
            padding: 50px;
            div.text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 100px;
            h5{
                font-size: 14px;
                font-weight: 700;
                color: variables.$primary-color;
            }
            h3{
                font-size: 38px;
                font-weight: 800;
                color: black;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #475569;
            }
        }
        div.cards{
            display: flex;
            justify-content: space-around;
            align-items: center;
            div.card{
                background-color: white;
                height: 180px;
                width: 250px;
                display: flex;
                flex-direction: column;
                border-radius: 18px;
                padding: 20px;
                gap: 30px;
                cursor: pointer;
                &:hover{
                    height:181px;
                    width: 251px;
                    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                }
                div.logo{
                    background-color: variables.$primary-color;
                    width:52px ;
                    height: 52px;
                    border-radius: 12px;
                    color: white;
                    font-size: 21.8px;
                    font-weight: 700;
                    @extend %flex-center;
                }
                h4{
                    font-size: 22px;
                    font-weight: 700;
                    color: #0F172A;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #475569;
                }
                a{
                    font-size: 15px;
                    font-weight: 600;
                    color: variables.$primary-color;
                }
           }       
       }
    }
 }
 footer{
    background-color: #0B1120;
    section.sec_1{
        background-color: variables.$primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            gap: 30px;
            h1{
                font-size: 40px;
                font-weight: 800;
                color: white;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #E0E7FF;
            }
            button{
                height: 51px;
                width: 159px;
                border-radius: 10px;
                background-color: white;
                color: variables.$primary-color;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    height:52px;
                    width: 160px;
                    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.69);
                }
            }
    }
    section.sec_2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #0B1120;
            div.footer_1{
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;
                .f_logo{
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    font-weight: 800;
                    gap: 5px;
                    cursor: pointer;
                    div.logo{
                        height:40px;
                        width: 40px;
                        background-color: variables.$primary-color;
                        @extend %flex-center;
                        border-radius: 12px;
                        color: white;
                        font-size: 16.8px;
                        font-weight: 700;
                        
                        }
                    .text{
                        font-size: 22px;
                        font-weight: 800;
                        color: white;
                    }
                }
                p{
                    font-size: 15px;
                    font-weight: 400;
                    color: #94A3B8;
                }
                div.icons{
                    display: flex;
                    justify-content: space-between;
                    div.icon{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background-color:#1E293B ;
                        color: white;
                        font-size: 15px;
                        font-weight: 700;
                        @extend %flex-center; 
                        cursor: pointer;                  
                    }
                }

            }
            div.contact{
                h4{
                    font-size: 15px;
                    font-weight: 700;
                    color: white;
                    margin-bottom: 10px;
                }
                ul{ 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    
                    li{
                        
                            font-size: 14px;
                            font-weight: 400;
                            color: #94A3B8;
                        
                    }
                }
            }
        }
        div{
            hr{
            width: 90%;
            background-color: #1E293B;

            }
            p.footer_p{
               font-size: 13px;
               font-weight: 400;
               color: #64748B;
               padding: 30px 80px;
            }
        }
    }
}
