/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

$primary-color:#4F46E5;
$secondar-color:black;
$inter-font:"Roboto", sans-serif;